@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700');

@font-face {
  font-family: 'Heading-Pro-Book-trial';
  src: url('./font/Heading-Pro-Book-trial.ttf');
}

@font-face {
  font-family: 'Heading-Pro-Compressed-Book-trial';
  src: url('./font/Heading-Pro-Compressed-Book-trial.ttf');
}

@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('./font/LeagueGothic-Regular.otf');
}