html, body {
  position: relative;
  background: #02020A;
  color: #fff;
  overflow-x: hidden;
}

.wrapper {

  position: relative;
  width: 1260px;
  margin: 0 auto;

  * {

    position: relative;
    z-index: 10;

  }

  .fullheight-line {
    position: absolute;
    top: 0;
    left: calc(2rem + 35px);
    width: 1px;
    height: 100%;
    background: #333333;
    opacity: 0.2;
    z-index: 5;

  }

}

.section-title {

  position: relative;
  font-family: 'LeagueGothic-Regular';
  font-size: 100px;
  margin-bottom: 20px;
  display: flex;

  span {

    margin-right: 40px;

  }

  &--number {

    position: absolute;
    top: -100px;
    left: -80px;
    font-size: 280px;
    font-family: Consolas, sans-serif;
    opacity: 0.06;

  }

  &:before {

    content: '';
    position: absolute;
    top: -140px;
    left: 35px;
    display: block;
    width: 2px;
    height: 125px;
    background: #FFFF00;

  }

}


.bg-1 {

  position: absolute;
  top: 0;
  right: 0;

}

.bg-2 {

  position: absolute;
  top: 165px;
  left: -60px;

}

.bg-3 {

  position: absolute;
  bottom: 0;
  left: 0;

}