.header {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 2rem;
  }

  &--logo {

    img {

      height: 55px;

    }

  }

  nav {

    a {

      font-family: Consolas, sans-serif;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      padding: 0 15px;

      &:hover {
        text-decoration: underline;
      }

    }

  }

  &--local {
    font-family: Consolas, sans-serif;
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
  }

}

.header, .footer {
  &--social {
    display: inline-flex;
    align-items: center;

    a {

      &:not(:last-child) {
        margin-right: 24px;
      }


      img {

        width: 39px;

      }

    }
  }
}

.footer {

  text-align: center;

  p {

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    padding: 45px 0 25px;

  }

}