header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    padding: 27px 0;

    a {
      color: #67FAD6;
      margin-right: 20px;
      display: inline-flex;
    }
  }

}

.header-form {
  display: inline-block;
  margin-bottom: 2rem;

    p {
      .font(16px, 20px, 300);
      margin: 0 0 20px 0;
    }

    .form-group {
      display: flex;
      align-items: center;
    }

    input {
      .font(20px, 24px, 400);
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 13px 17px 12px;
      outline: none;
      margin: 0 20px 0 0;
      flex-grow: 1;
    }

    button {
      .font(20px, 24px, 500);
      color: #1C243D;
      background: #FABC67;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
      border-radius: 5px;
      padding: 13px 40px 12px;
    }
}


.header-logo {
  display: flex;
  img {
    margin-left: -10px;
    margin-right: 10px;
  }
}

.header-socials {
  a {
    margin-left: 1rem;
    text-decoration: none;
  }
}

.header-wp {
  img {
    margin-right: 2rem;
  }

  color: #fff;
}

.header-slogan {
  margin-bottom: 8rem;
}

.header-socialAndLang {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}

.header-socialAndLang-item {
  margin-left: 1rem;

}

