.section {
  padding: 40px 0 100px;
  background: linear-gradient(180deg, #161C31 0%, #18273C 100%);

  h2 {
    .font(42px, normal, bold);
    margin-bottom: 37px;
    color: #67FAD6;
  }

  h3 {
    .font(24px, 29px, 500);
    margin-bottom: 40px;
  }

  p {
    .font(20px, 29px, 300);
    margin-bottom: 30px;
  }

  &:nth-child(odd) {
    background: #334267;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
}